<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
	<title>search bar</title>
</head>
<body>
	<div class="p-8 w-96">
  <div class="ring-2 ring-gray-800 bg-white flex items-center rounded-full shadow-xl">
    <input class=" rounded-l-full w-full py-0 px-5 text-gray-700 leading-tight focus:outline-none" id="search" type="text" placeholder="Search">
    
    <div class="p-1">
      <button class="bg-blue-500 text-white rounded-full p-1 hover:bg-blue-400 focus:outline-none w-8 h-8 flex items-center justify-center">
        icon
      </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>